@{
    ViewData["Title"] = "Zaine";
}


<!--HOME-->
<header id="Home">
    <div class="bg-filter">
        <div class="container">
            <div class="home-container row mt-0">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h1 class="home-title text-white">
                        Digital
                        <br />
                        Creative
                        <br />
                        Designer
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="home-para">
                        <p>I work from the user experience to the visual details and then transform these in working code. I am a minimal designer and I really like the simple and elegant style.</p>

                        <button class="cta">
                            <span>About Me</span>
                            <svg viewBox="0 0 13 10" height="10px" width="15px">
                                <path d="M1,5 L11,5"></path>
                                <polyline points="8 1 12 5 8 9"></polyline>
                            </svg>
                        </button>

                        <div class="social-wrapper">
                            <div class="social-element pb-5">
                                <a href="https://www.dribbble.com/" target="_blank" class="social-icon-wrapper  " style="">
                                    <img src="https://assets.website-files.com/62b583797480913988aa7b2f/62bac0682f682a3c6555af92_twiiter.png" loading="lazy" width="20" alt="" class="social-image fb">
                                    <div class="social-overlay" style="width: 0%; height: 0%;"></div>
                                </a>

                                <a href="https://www.twitter.com/" target="_blank" class="social-icon-wrapper  " style=""><img src="https://assets.website-files.com/62b583797480913988aa7b2f/62bac0682f682a53db55af96_facebook.png" loading="lazy" width="20" alt="" class="social-image"><div class="social-overlay" style="width: 0%; height: 0%;"></div></a>

                                <a href="https://www.linkedin.com/" target="_blank" class="social-icon-wrapper  " style=""><img src="https://assets.website-files.com/62b583797480913988aa7b2f/62bac0682f682ac42655af94_linkedin.png" loading="lazy" width="18" alt="" class="social-image"><div class="social-overlay" style="width: 0%; height: 0%;"></div></a>

                                <a href="https://www.dribbble.com/" target="_blank" class="social-icon-wrapper  " style=""><img src="https://assets.website-files.com/62b583797480913988aa7b2f/62bac0682f682a3f2a55af90_dribbble.png" loading="lazy" width="20" alt="" class="social-image"><div class="social-overlay" style="width: 0%; height: 0%;"></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>

<!--WORK-->
<section id="Work">
    <div class="container">
        <div class="work-container row ">
            <div class="col-sm-12 col-md-12 col-lg-12 ">
                <h2 data-aos="fade-up">Work</h2>
                <div class="img-wrapper">
                    <img data-aos="fade-up" class="work-img1" src="~/images/home/work-img1.jpg" />
                </div>
                <p data-aos="fade-up" class="container number">01 Cyber Crypto</p>

                <br />

                <div class="images-wrapper">
                    <div class="">
                        <div class="img-wrapper2">
                            <img data-aos="fade-up" class="work-img2" src="~/images/home/work-img2.jpg" />
                        </div>
                        <p data-aos="fade-up" class="container number">02 Fashion Branding</p>
                    </div>


                    <div class="img-wrapper">
                        <div class="">
                            <div class="img-wrapper3">
                                <img data-aos="fade-up" class="work-img3" src="~/images/home/work-img3.jpg" />
                            </div>
                            <p data-aos="fade-up" class="number">03 Coinbase App</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

