@{
    ViewData["Title"] = "Zaine";
}


<!--HOME-->
<header id="Home">
    <div class="bg-filter">
        <div class="container">
            <div class="home-container row mt-0">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h1 class="home-title text-white">
                        Digital
                        <br />
                        Creative
                        <br />
                        Designer
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="home-para">
                        <p>I work from the user experience to the visual details and then transform these in working code. I am a minimal designer and I really like the simple and elegant style.</p>

                        <button class="cta">
                            <span>About Me</span>
                            <svg viewBox="0 0 13 10" height="10px" width="15px">
                                <path d="M1,5 L11,5"></path>
                                <polyline points="8 1 12 5 8 9"></polyline>
                            </svg>
                        </button>

                        <div class="social-wrapper">
                            <div class="social-element ">
                                <a href="https://www.dribbble.com/" target="_blank" class="social-icon-wrapper  " style="">
                                    <img src="https://assets.website-files.com/62b583797480913988aa7b2f/62bac0682f682a3c6555af92_twiiter.png" loading="lazy" width="20" alt="" class="social-image fb">
                                    <div class="social-overlay" style="width: 0%; height: 0%;"></div>
                                </a>

                                <a href="https://www.twitter.com/" target="_blank" class="social-icon-wrapper  " style=""><img src="https://assets.website-files.com/62b583797480913988aa7b2f/62bac0682f682a53db55af96_facebook.png" loading="lazy" width="20" alt="" class="social-image"><div class="social-overlay" style="width: 0%; height: 0%;"></div></a>

                                <a href="https://www.linkedin.com/" target="_blank" class="social-icon-wrapper  " style=""><img src="https://assets.website-files.com/62b583797480913988aa7b2f/62bac0682f682ac42655af94_linkedin.png" loading="lazy" width="18" alt="" class="social-image"><div class="social-overlay" style="width: 0%; height: 0%;"></div></a>

                                <a href="https://www.dribbble.com/" target="_blank" class="social-icon-wrapper  " style=""><img src="https://assets.website-files.com/62b583797480913988aa7b2f/62bac0682f682a3f2a55af90_dribbble.png" loading="lazy" width="20" alt="" class="social-image"><div class="social-overlay" style="width: 0%; height: 0%;"></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>

<!--WORK-->
<section id="Work">
    <div class="container">
        <div class="work-container row ">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h2 data-aos="fade-up">Work</h2>
                <div class="img-wrapper rotate-efect-wrapper" data-aos="fade-up">
                    <img class="work-img1 rotate-efect" src="~/images/home/work-img1.jpg" />
                </div>
                <p data-aos="fade-up" class="container number">01 Cyber Crypto</p>

                <br />

                <div class="images-wrapper mt-5">
                    <div>
                        <div data-aos="fade-up" class="img-wrapper2 img-wrapper">
                            <img class="work-img2" src="~/images/home/work-img2.jpg" />
                        </div>
                        <p data-aos="fade-up" class="container number">02 Fashion Branding</p>
                    </div>

                    <div>
                        <div>
                            <div data-aos="fade-up" class="img-wrapper3 img-wrapper">
                                <img class="work-img3 work-img" src="~/images/home/work-img3.jpg" />
                            </div>
                            <p data-aos="fade-up" class="number">03 Coinbase App</p>
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="row mb-5">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="d-flex pt-5 px-3 mt-4 flex-column justify-content-start flex-md-row">
                        <div>
                            <div data-aos="fade-up" class="img-wrapper4 img-wrapper rotate-efect-wrapper">
                                <img class="work-img4 rotate-efect " src="~/images/home/work-img4.jpg" />
                            </div>
                            <p data-aos="fade-up" class="number ">04 Bitcoin Gold</p>
                        </div>

                        <p class="text-desingnPara pl-md-5 pt-3 pt-md-0" data-aos="fade-up">
                            DESIGN
                            /dɪˈzʌɪn/
                            ‍<br />
                            A plan or drawing produced to show the look and function or workings of a building, garment, or other object before it is made.
                            ‍<br /> <br />
                            "He has just unveiled his design for the new museum"
                        </p>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 ">

                    <div>
                        <div data-aos="fade-up" class="img-wrapper5 img-wrapper rotate-efect-wrapper">
                            <img class="work-img5  rotate-efect  " src="~/images/home/wprk-img5.jpg" />
                        </div>
                        <p data-aos="fade-up" class="number ">05 Nike Jordan</p>
                    </div>

                </div>

                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div>
                        <div data-aos="fade-up" class="img-wrapper6  img-wrappe rotate-efect-wrapper ">
                            <img class="work-img6 rotate-efect" src="~/images/home/work-img6.jpg" />
                        </div>
                        <p data-aos="fade-up" class="number ">06 Food Panda</p>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <section id="Contact">
        <div class="container">
            <div class="row mt-5">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h4 class="contact-title">Contact</h4>
                    <p class="contact-para">Fill in the form to contact me or send an email to info@zainegrey.com</p>
                </div>

                <form action="/" method="post">
                    <!--NAME-->
                    <label for="name" required>Full name *</label>
                    <input type="text" name="name" class="text-field-contact" required />

                    <br />
                    <!--NAME-->
                    <label for="email" required>
                        Email Address*
                    </label>
                    <input type="text" name="emaiñ" class="text-field-contact" required />
                    <br />
                    <!--company-->
                    <label for="company" required>Company *</label>
                    <input type="text" name="company" class="text-field-contact" required />
                    <br />
                    <!--HELP-->
                    <label for="Help" required>How can I help you? *</label>
                    <input type="text" name="help" class="text-field-contact" required />

                    <a class="fancy" href="#">
                        <span class="top-key"></span>
                        <span class="text">Send Message</span>
                        <span class="bottom-key-1"></span>
                        <span class="bottom-key-2"></span>
                    </a>
                </form>
            </div>
        </div>
    </section>


</section>

