@{
    Layout = "_Layout";
    ViewData["Title"] = "Zaine - About";

}

<link href="~/css/AboutCSS.css" rel="stylesheet" />

<header id="Home-About">
    <div class="bg-filter "> 
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h1 class="Home-About-Wrapper ">
                    <img class="Home-About-Img" data-aos="fade-up" src="~/images/home/logo.svg" />
                </h1>
            </div>
        </div>
    </div>
</header>


    <section id="Info-About" class="container">
        <div class="row Info-About-Wrapper">
            <div class="col-sm-6 col-md-6 col-lg-6 info-deco-col">
                <div class="Info-Deco ">
                    <b>
                        development
                    </b>
                    <br />
                    ‍/dɪˈvɛləpm(ə)nt/
                    ‍<br />
                    the process of developing or being developed.
                    ‍‍<br />
                    "she traces the development of the novel"
                </div>

            </div>

            <div class="col-sm-6 col-md-6 col-lg-6 " data-aos="fade-up">
                <div>
                    <h2 class="Info-About-Title">About Me</h2>

                    <p class="Info-About-Para1">I am award-winning product designer specialized in UX/UI, currently living in Bronx, NY. Where I have been working as a freelancer for about 14 years.</p>

                    <p class="Info-About-Para1 font-Satoshi ">I work from the user experience to the visual details and then transform these in working code. I am a minimal designer and I really like the simple and elegant style. I Worked with a range of clients focusing on web apps and platforms with Tesla in partnership with Microsoft.</p>

                    <p class="Info-About-Para1 font-Satoshi ">Coming from a multi-cultural upbringing, I love to bring the best of both worlds into my design which is known for its sophisticated simplicity and thoughtful details.</p>
                </div>
            </div>
        </div>

        <div class="row" data-aos="fade-up">
            <div class="col-12 mt-5">
                <h3 class="Info-Skills-Title mb-5">My Skills</h3>
            </div>
        </div>

        <div class="row" data-aos="fade-up">
            <div class="col-sm-4 col-md-4 col-lg-4 ">
                <h4>Prototyping</h4>
                <ul class="list">
                    <li>
                        <div>Webflow</div>
                    </li>
                    <li>
                        <div class="list-line"></div>
                        <div>Figma</div>
                    </li>
                    <li>
                        <div class="list-line"></div>
                        <div>InVision</div>
                    </li>
                    <li>
                        <div class="list-line"></div>
                        <div>Photoshop</div>
                    </li>
                    <li>
                        <div class="list-line"></div>
                        <div>Adobe</div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <h4>Development</h4>
                <ul class="list">
                    <li>
                        <div>Webflow</div>
                    </li>
                    <li>
                        <div class="list-line"></div>
                        <div>HTML5/CSS3</div>
                    </li>
                    <li>
                        <div class="list-line"></div>
                        <div>WordPress</div>
                    </li>
                    <li>
                        <div class="list-line"></div>
                        <div>PHP</div>
                    </li>
                    <li>
                        <div class="list-line"></div>
                        <div>MySQL</div>
                    </li>
                    <li>
                        <div class="list-line"></div>
                        <div>jQuery</div>
                    </li>
                    <li>
                        <div class="list-line"></div>
                        <div>Java</div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <h4>Design</h4>
                <ul class="list">
                    <li>
                        <div>UI/UX Design</div>
                    </li>
                    <li>
                        <div class="list-line"></div>
                        <div>Visual Design</div>
                    </li>
                    <li>
                        <div class="list-line"></div>
                        <div>Prototyping</div>
                    </li>
                    <li>
                        <div class="list-line"></div>
                        <div>Photoshop</div>
                    </li>
                    <li>
                        <div class="list-line"></div>
                        <div>WebDesign</div>
                    </li>
                    <li>
                        <div class="list-line"></div>
                        <div>Interactive Design</div>
                    </li>
                    <li>
                        <div class="list-line"></div>
                        <div>App Desing</div>
                    </li>
                </ul>
            </div>
        </div>
        <br />
        <div class="row" data-aos="fade-up">
            <div class="col-12 mb-4 mt-5">
                <p class="Info-Para2">I partner with forward-thinking enterprises and startups</p>
                <h4 class="Info-Para3">Webflow, Figma, Dell, Upwork, Zendesk, Hellosign, Rakuten, Microsfot, Vice.</h4>
            </div>
        </div>

    </section>
